---
import { getCollection } from "astro:content";
import ItemMiniature from "../components/ItemMiniature.astro";
import Layout from "../layouts/Layout.astro";

const items = await getCollection('items');
---

<Layout>

	<!-- Grid Items to buy -->
	<h1 class="text-4xl font-bold tracking-tight text-base-content text-center mt-12 mb-8">
  		✓ Qué Comprar 
	</h1>

	<div class="grid grid-cols-1 lg:grid-cols-2 xl:grid-cols-3 gap-4 m-4 sm:m-6 md:m-12 lg:m-16 xl:m-22">
		{items
		.filter((i: any) => i.data.rating >= 3)
		.sort((a: any, b: any) => b.data.rating - a.data.rating)
		.map((i: any) => (
			<ItemMiniature item={i}></ItemMiniature>
		))}
	</div>

	<!-- Grid Items NOT to buy -->
	<h1 class="text-4xl font-bold tracking-tight text-base-content text-center mt-12 mb-8">
  		✗ NO Comprar 
	</h1>

	<div class="grid sm:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 gap-4 m-4 sm:m-6 md:m-12 lg:m-16 xl:m-22">
		{items
		.filter((i: any) => i.data.rating < 3)
		.sort((a: any, b: any) => b.data.rating - a.data.rating)
		.map((i: any) => (
			<ItemMiniature item={i}></ItemMiniature>
		))}
	</div>

	
</Layout>