---
import Image from "astro/components/Image.astro"

const { item } = Astro.props

---

<div class="card lg:card-side bg-base-100 shadow-none border-2 border-base-300">
    <figure>
        <img
        src={item.data.image}
        alt={`Foto del producto: ${item.data.name}`} />
    </figure>
    <div class="card-body">
        <h2 class="card-title">New album is released!</h2>
        <p>Click the button to listen on Spotiwhy app.</p>
      <div class="card-actions justify-end">
        <button class="btn btn-neutral">Comprar</button>
      </div>
    </div>
</div>

  